<!DOCTYPE html>
<html ng-app="store">
	<head>
		<link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="style.css" />
		<script type="text/javascript" src="angular.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
		<script type="text/javascript" src="product.js"></script>
	</head>

	<body ng-controller="StoreController as store">
		<h1 class="text-center">Flatlander Crafted Gems</h1>
		<h2 class="text-center">- an Angular store -</h2>
	<!-- Product Container -->
		<div class="list-group-item" ng-repeat="product in store.products">
			<h3 ng-include="'product-title.html'"> 
				<!--{{product.name}} 
				<em class="pull-right">{{product.price | currency}}</em>-->
				<product-title></product-title>
			</h3>

			<!--Image Gallery-->
			<!--<div class="gallery">
				<div class="img-wrap">
					<img ng-src="{{product.images[0]}}" class="img-thumbnail center-block" />
				</div>
				<ul class="img-thumbnails clearfix">
					<li class="small-image pull-left thumbnail" ng-repeat="image in product.images">
						<img ng-src="{{image}}" />
					</li>
				</ul>
			</div>-->
			<product-gallery></product-gallery>

			<!--Tab Navigation-->
			<!--<section ng-controller="PanelController as panel">

			</section>-->
			<product-panels></product-panels>

			<hr />
		</div>

		<button ng-show="product.canPurchase"> Add to Cart </button>
	</body>
</html>